.logo{
    width: 100px;
    height: 80px;
  }
  /* .top{
    height: 6rem;
  } */
  .top>nav{
    display: grid;
    height: 5rem;
    background-color: white;
    overflow: hidden;
    gap: 1.5rem;
    place-items: center;
  
    grid-template-columns: repeat(9, 1fr);
  }
  .top>nav>ul{
    list-style-type: none;
    display: flex;
    column-gap: 1.5rem;
    align-items: center;
  }
  .top>nav>ul>li>a{
    text-decoration: none;
    color: black;
  }
  
  .signUpContainer{
    display: grid;
    place-items: center;
    text-decoration: none;
  
    background-color: blue;
    border-radius: 30px;
    width: 100px;
    height: 30px;
    color: white;
    
  }
  
  .nav-span{
    grid-column: 4/8;
    width: 100%;
    justify-content: space-around;
  }
  .Profile{
    width: 50px;
  }
  .conpressedNavIcons{
    display: none;
  }
  
  .mobile-nav{
    display: none;
  }


h1{
    border: 1px;
    padding: 20px;
    background-color: skyblue;
    color: aliceblue;
}
.time-icon{
    font-size: 40px;
}
.about-us{
    border: 1px black solid;
    width: 700px;
    margin-left: auto; margin-right: auto;
    padding: 10px 50px;
    border-radius: 1rem;

}
.container {
    display: flex;
    /* margin-left: 170px; */
    margin-top: 40px;
    justify-content: center;
    

}
.vision {
border: 1px black solid;
width: 300px;
border-radius: 1rem;
padding-left: 40px;
padding-right: 40px;
margin-right: 15px;
padding: 30px;
}

.mission {
    border: 1px black solid;
    width: 300px;
    border-radius: 1rem;
    padding-left: 40px;
    padding-right: 40px;
    padding: 30px;
   
    /* height: 150px; */
    /* text-align: center; */
}

.another-container{
    display: flex;
    flex-direction: row;
    border: 1px slategrey solid;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    height: 350px;
    background-color: slategrey;
}

h5{
    font-size: 15px;
    
}

.safety-icon {
    padding-top: 15px;
    
    
}
.safety {
    border: 1px rgba(112, 158, 207, 0.822) solid;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 40px;
    padding-right: 10px;
    color: aliceblue;
    background-color: rgba(112, 158, 207, 0.822) ;
    
}
h6{
    font-size: 15px;
}
.teamwork {
    border: 1px rgba(112, 158, 207, 0.822) solid;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 40px;
    padding-right: 8px;
    padding-bottom: 30px;
    color: aliceblue;

    background-color: rgba(112, 158, 207, 0.822);
}

.community {
    border: 1px rgba(112, 158, 207, 0.822) solid;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 40px;
    color: aliceblue;
    padding-top: 20px;
    padding-right: 10px;
    
    background-color:  rgba(112, 158, 207, 0.822);
}

.third-container {
    display: flex;
    border: 8px skyblue solid;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.our-stories-section {
    border: 1px ;
    padding-left: 80px;
    text-align: right;
    margin-right: 20px;
}

.stories-section {
    font-size: 25px;
    font-weight: 100;
    
}

.missed-trip-heading {
    color: black;
    font-style: normal;
}
.missed-trip-section {
    border: 1px ;
    /* padding-left: 30px;
    padding-right: 30px; */
    width: 600px;
}



/*FOOTER*/
footer{
    /* height: 250px; */
    background-color: #1450CC;
  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    padding: 20px;
    margin-top: 40px;
    /* overflow: hidden; */
  }
  .hr{
    width: 100px;
    height: 5px;
    background-color: black;
    border-radius: 30px;
  }
  
  .text_box{
    height: 100%;
  }
  #text_box1,
  #text_box2,
  #text_box3{
    width: 70%;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    padding-left: 10px;
  }
  #text_box1{
    margin-top: 25px;
  }
  #text_box4{
    width: 70%;
    height: 100px;
  
    margin-bottom: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    padding-left: 10px;
    display: block;
  }
  .submitBtn{
    width: 30%;
    background-color: #F69F46;
    border-radius: 30px;
    border: none;
    height: 30px;
  }
  .sm_icons{
    display: flex;
    align-items: center;
  }
  
  .quickLinksSection{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 150px;
    column-gap: 20px;
    row-gap: 10px;
  }
  .kwiklinks{
    grid-column: 1/3;
  }
  .quickLinksSection a{
    text-decoration: none;
    color: black;
  }


  @media screen and (max-width: 995px){


    footer{
        grid-template-columns: auto;
        row-gap: 50px;
        display: grid;
        place-items: center;
      }
  }