html {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  *{
    box-sizing: border-box;
    margin: 0;
  }
  
  body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(248, 248, 248);
  }
  
  .logo{
    width: 100px;
    height: 80px;
  }
  /* .top{
    height: 6rem;
  } */
  .top>nav{
    display: grid;
    height: 5rem;
    background-color: white;
    overflow: hidden;
    gap: 1.5rem;
    place-items: center;
    width: 85svw;
  
    grid-template-columns: repeat(9, 1fr);
  }
  .top>nav>ul{
    list-style-type: none;
    display: flex;
    column-gap: 1.5rem;
    align-items: center;
  }
  .top>nav>ul>li>a{
    text-decoration: none;
    color: black;
  }
  
  .signUpContainer{
    display: grid;
    place-items: center;
    text-decoration: none;
  
    background-color: blue;
    border-radius: 30px;
    width: 100px;
    height: 30px;
    color: white;
    
  }
  
  .nav-span{
    grid-column: 4/8;
    width: 100%;
    justify-content: space-around;
  }
  .Profile{
    width: 50px;
  }
  .conpressedNavIcons{
    display: none;
  }
  
  .mobile-nav{
    display: none;
  }
 
  


  .booking-tab{
    height: 6rem;
    width: 85svw;
    background: linear-gradient(128deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 10%, rgb(123, 176, 255) 10%, rgba(13,27,80,1) 45%, rgb(123, 176, 255) 45%, rgba(9,32,228,1) 100%); 

    display: grid;
    align-items: center;
    padding-left: 50px;
    margin-bottom: 30px;
    z-index: 2;

  }

  .booking-tab>h1{
    color: white;
  }

  .booking-pointers{
    width: 85svw;
    height: 3rem;
    
    display: grid;
    grid-template-columns: 20% 80%;
  }
  .firstpointer{
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    border-radius: 10px;

    display: grid;
    place-items: center;
  }
  .otherpointers{
    width: 100%;
    height: 100%;
    background-color: #1450CC;
    border-radius: 10px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
    column-gap: 10px;
    padding-left: 10px;
  }
  .options-select{
    width: 85svw;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    background-color: rgb(243, 246, 248);
    border-radius: 20px;
    padding: 20px;

  }
.trip-radio-bar{
    grid-column: 1/4;
}


.selectBoxes{
    width: 100%;
    height: 40px;
}
#ModifyButton{
    width: 40%;
    height: 30px;
    background-color: chocolate;
    border-style: none;
    border-radius: 10px;
}


.busList{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 30px;
    /* overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none; */

    width: 85svw;
    height: fit-content;
}
.container::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.busCard{
    width: 70svw;
    height: 200px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 0 2px rgb(102, 102, 102);

    display: grid;
    grid-template-columns: 19% 60% 19%;
    column-gap: 2%;
    align-items: center;
    padding: 10px;
    
}
.bus-Image{
    background-color: white;
    width: 13svw;
    aspect-ratio: 1/1;
    border-radius: 50%;
}
.BusInfo{
    padding-left: 10%;
}
.Ac{
    background-color: rgb(8, 184, 8);
    color: white;
}
.availableSeats{
    text-align: center;
}
.busPrice{
    margin-top: 30px;
}
.AdultPrice,
.ChildPrice{
    font-weight: bold;
    font-size: 1.5rem;
    color: rgb(8, 184, 8);
}

.deparTime{
    color: rgb(136, 32, 32);
    margin-bottom: 15px;
    font-weight: 800;
}
.payFare{
    margin-top: 40px;
  width: 100px;
  height: 30px;
  border-style: none;
  border-radius: 10px;
  background-color: blue;
}

.image1{
    background-image: url(images/Rectangle\ 8.png);
    background-size: 200px 200px;
    background-position: 10% 1%;
    background-repeat: no-repeat;
}
.image2{
    background-image: url(images/Rectangle\ 9.png);
    background-size: 200px 200px;
    background-position: 10% 1%;
    background-repeat: no-repeat;
}
.image3{
    background-image: url(images/Rectangle\ 10.png);
    background-size: 200px 200px;
    background-position: 10% 1%;
    background-repeat: no-repeat;
}



footer{
    /* height: 250px; */
    background-color: #1450CC;
  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    padding: 20px;
    margin-top: 40px;
    /* overflow: hidden; */
  }
  .hr{
    width: 100px;
    height: 5px;
    background-color: black;
    border-radius: 30px;
  }
  
  .text_box{
    height: 100%;
  }
  #text_box1,
  #text_box2,
  #text_box3{
    width: 70%;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    padding-left: 10px;
  }
  #text_box1{
    margin-top: 25px;
  }
  #text_box4{
    width: 70%;
    height: 100px;
  
    margin-bottom: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    padding-left: 10px;
    display: block;
  }
  .submitBtn{
    width: 30%;
    background-color: #F69F46;
    border-radius: 30px;
    border: none;
    height: 30px;
  }
  .sm_icons{
    display: flex;
    align-items: center;
  }
  
  .quickLinksSection{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 150px;
    column-gap: 20px;
    row-gap: 10px;
  }
  .kwiklinks{
    grid-column: 1/3;
  }
  .quickLinksSection a{
    text-decoration: none;
    color: black;
  }

  /* #departDestin span:nth-of-type(1){
    color: red;
  } */
 #dateOption{
    color: rebeccapurple;
  }


@media screen and (max-width: 995px){


    footer{
        grid-template-columns: auto;
        row-gap: 50px;
        display: grid;
        place-items: center;
      }
    
      /*for the navigation*/
      .top>nav{
        width: 90svw;
        position: relative;
      }
    
      .top>nav>ul{
        display: none;
      }
      .signUpContainer{
        display: none;
      }
      .Profile{
        position: absolute;
        right: 0px;
      }
      .logo{
        position: absolute;
        margin: auto;
      }
    
      .conpressedNavIcons{
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        width: 40px;
    
        position: absolute;
        left: 0px;
      }
      .bar{
        
        height: 5px;
        background-color: black;
        border-radius: 5px;
      }
      .b1{
        width: 30px;
      }
      .b2{
        width: 25px;
      }
      .b3{
        width: 20px;
      }
    
      .mobile-nav{
        display: none;
        position: fixed;
        width: 90vw;
        height: 250px;
        z-index: 5;
    
        background-color: aliceblue;
        place-items: center;
        border-radius: 10px;
      }
      .mobile-nav ul{
        list-style-type: none;
        padding: 0px;

        display: flex;
        flex-direction: column;
        row-gap: 20px;
      }
      .mobile-nav ul>li>a{
        text-decoration: none;
        color: black;
      }
    
      .cancelNav{
        position: absolute;
        right: 5px;
        top: 10px;
      }

      /* width fixing */
      .booking-pointers{
        width: 95svw;
        margin-bottom: 40px;
      }
      .otherpointers{
        font-size: 0.5rem;
      }
      #ModifyButton{
        width: 55px;
    }

    .options-select{
        width: 95svw;
    }

    .busCard{
        width: 80svw;
        grid-template-columns: 100%;
        height: auto;
        row-gap: 20px;
    }
    .bus-Image{
        min-width: 100px;
        min-height: 100px;
        background-size: cover;
    }
    .payFare{
        width: fit-content;
        width: -moz-fit-content;

    }
    .hr{
        margin-bottom: 20px;
    }


    .Contact_icons,
    .social_media_icons{
        display: grid;
        row-gap: 20px;
    }
    .Contact_icons div{
        display: flex;
        column-gap: 30px;
    }
}












/* misc */
.payFareLink{
  /* width: 200px; */
  height: 100%;
  text-decoration: none;
  color: black;
}